<HTML>
	<div class="content">
		<div class="contentbox">
			<h1>About</h1>

			<p>Bosham Capital Advisors (BCA) is an Independent Investment, Corporate Finance and Capital Advisory Firm which acts as an advisory bridge between Investors and Investees in Asia & UK.</p>
	 
			<p>BCA provides Investment, Corporate Finance, Strategic Advisory, M&A and Capital Raising services across the Digital Media, Disruptive Technology, Consumer and Real Estate sectors.</p>
		</div>
	</div>
</HTML>