<HTML>
  <body>
    <!-- Slideshow container -->
    <div class="slideshow-container" style='position:absolute;z-index:0;left:0;top:0;'>

      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <img src="bg_home_1.2000x0.jpg" style="width:100%">
        <div class="picTitle">We Invest<br>We Advise<br>We Raise Capital</div>
        <div class="picText">+ Find out what we can do for you</div>
      </div>

      <div class="mySlides fade">
        <img src="bg_home_3.2000x0.jpg" style="width:100%">
      </div>

      <div class="mySlides fade">
        <img src="london.jpg" style="width:100%">
      </div>

    </div>
    <!-- The dots/circles -->
    <div class="scrollDots">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <br>
      <span class="dot" onclick="currentSlide(2)"></span> 
      <br>
      <span class="dot" onclick="currentSlide(3)"></span> 
      <br>
    </div>
  </body>

</HTML>

<script type='text/javascript'>
  onload=currentSlide(1)
</script>